p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.infobox {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  border-radius: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}

.warning {
  background-image: url("img/info.png");
}